<div class="main-content">
    <div class="form-wrapper">
        <div class="form-container">
            <app-task-form></app-task-form>
        </div>
    </div>
    <div class="table-wrapper">
        <table id="resultTable" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Date</th>
                <th>Text</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let task of tasks">
                <td>{{ task.date | amUtc | amDateFormat: 'YYYY-MM-DD' }}</td>
                <td>{{ task.date | amUtc | amDateFormat: 'HH:mm' }} - {{task.text}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>