<div class="main">
    <div class="content">
        <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse navbar-theme">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <span class="navbar-brand" href="#">Table Schedule</span>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            </div>
        </nav>

        <div class="main-content">
            <div class="form-wrapper">
                <div class="form-container">
                    <app-task-form></app-task-form>
                </div>
            </div>

            <div class="table-wrapper">
                <app-task-list></app-task-list>
            </div>
        </div>
    </div>
    <div class="footer">Vika Petrenko</div>
</div>
